.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #0e1424 50%, #374255 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding-top: 20px;
}

.calculator-wrapper {
  width: 320px;
  height: 550px;
  padding: 3px;
  border: 3px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 16px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #ccc;
}
.calculator-wrapper.light {
  background: #f3f3f3;
}

.calculator-wrapper.dark {
  background: #03082200;
}
