.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

button {
  width: 40px;
  height: 40px;
  border: 2px;
  padding: 10px;
  margin: 3px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  cursor: pointer;
}
.row {
  display: flex;
  justify-content: space-between;
}

.memory-button {
  width: 50px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: none;
  color: #2a53a0;
  font-weight: bold;
  cursor: pointer;
  flex: none;
  margin: 2px;
}

.numbers {
  width: 80px;
  padding: 15px;
  font-size: 1.1em;
  background-color: #8a8fa3;
  color: white;
}

.functionalities {
  width: 50px;
  padding: 15px;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  background-color: #adbbc6;
  color: #374255;
}

.functionalities:hover {
  background-color: #2a53a0;
  color: white;
}
button.large {
  width: 120px;
}
.equal-button {
  display: flex;
  justify-content: center;
  width: calc(3 * 120px + 50px);
  height: 45px;
  margin: 8px;
  font-size: 1.9rem;
  align-items: center;
  background-color: #adbbc6;
  color: #374255;
  border: none;
  border-radius: 10px;
}
.equal-row {
  display: flex;
  justify-content: center;
}
.equal-button:hover {
  background-color: #2a53a0;
  color: #fff;
}
