.display-container {
  background-color: #fff;
  color: #000000;
}
.display-container.dark {
  background-color: #333333;
  color: #ffffff;
}
.display {
  margin-top: 40px;
  padding: 50px;
  border: 2px solid #cccccc;
}
.input-number {
  float: left;
  font-size: 2em;
  font-weight: bold;
  color: #374255;
}

.number-below-display {
  margin-top: 5px;
}
